* {
    margin: 0;
    padding: 0;
}
body {
    margin: 50px 30px 50px 30px;
    background-color: hsl(204, 43%, 93%);
    font-size: .95em;
    width: 370px;
}
.heading {
    background-color: white;
    box-sizing: border-box;
    padding: 25px;
    font-family: 'Karla', sans-serif;
    color: hsl(203, 45%, 50%);  
    border-radius: 10px 10px 0 0;
}
.heading h3 {
    padding: 10px 0 20px 0;
}
.heading h4 {
    padding: 0 0 20px 0;
    color: hsl(71, 73%, 54%);
}
.heading p {
    line-height: 30px;
}
.contents {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
.pricing {
    box-sizing: border-box;
    padding: 25px;
    background-color:hsl(179, 62%, 43%);
    line-height: 30px;
    color: white;
}
.pricing h3 {
    padding: 10px 0 20px 0;
}
.pricing .price {
   font-size: 2em;
}
.pricing .permonth {
    color: hsl(203, 47%, 80%);
    margin-left: 10px;
    align-self: center;
    vertical-align: top;
}
button {
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: hsl(71, 73%, 54%);
    font-size: .9rem;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.our-advantage {
    box-sizing: border-box;
    padding: 25px;
    background-color:hsl(179, 62%, 49%);
    color: white;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
}
.our-advantage h3 {
    padding: 10px 0 20px 0;
}
li {
    list-style-type: none;
    line-height: 30px;  
}

